<form style="">
    <p-toast></p-toast>
    <div class="container">
        <p-divider align='left'>
            <div class='inline-flex align-items-center'>
                <i class='pi pi-user mr-2'></i>
                <b> 이메일을 입력해 주세요.</b>
            </div>
        </p-divider>

        <div style='display:grid;grid-gap:20px 20px;grid-template-columns: 200px 200px 200px;padding:20px;'>
            <span class='p-float-label'>
                <input id='emailinput' type="text" name="email" [formControl]='emailForm' pInputText required>
                <label for="emailinput"><b>이메일</b></label>
            </span>

        </div>

        <div style='display:flex;flex-wrap:wrap;align-items:center;padding:20px'>
            <span class='p-buttonset' style='display:flex;text-align:right;'>
                <button pButton type="button" label='재설정 이메일 보내기' (click)='sendResetPwdEmail()'></button>
            </span>
        </div>
    </div>
</form>
