
<ng-container *ngIf='o_event'>
    <div class='flex align-items-center justify-content-end'>
        <div>{{o_event.address}}</div>
        <div>
            <app-location-chip [f_lat]='o_event.lat' [f_lng]='o_event.lng'>
            </app-location-chip>
        </div>
    </div>
    <div class='flex align-items-center justify-content-end'>
        <div class='m-1' ><app-date [s_date]='o_event.at' ></app-date></div>
        <div *ngIf='o_user'><app-user-chip [o_user]='o_user'></app-user-chip></div>
    </div>

    <div>{{o_event.title}}</div>

    <div>{{o_event.description}}</div>

    <div class='flex align-items-center justify-content-end'>
        <ng-container *ngIf='b_participating'>
            <app-mybutton s_label='대화방' (click)='openChat($event)'></app-mybutton>
        </ng-container>
        <ng-container *ngIf='!b_participating'>
            <app-mybutton s_label='참여' (click)='participate($event)'></app-mybutton>
        </ng-container>
        <ng-container *ngIf='b_participating'>
            <app-mybutton s_label='참여 취소' (click)='unparticipate($event)'></app-mybutton>
        </ng-container>
    </div>

    <p-divider>
        <p-tag severity='info'>참여자들</p-tag>
        총 {{a_participants?.length}} 명
    </p-divider>
    <div class='flex flex-wrap'>
        <ng-container *ngFor='let o_participant of a_participants'>
            <app-participant [d_userId]='o_participant.user_id'>
            </app-participant>
        </ng-container>
    </div>

</ng-container>
