
<div style='width:100%;text-align:center;z-index:9999;position:absolute;display:flex;justify-content:center'>
    <div [@largeSmall]="isSmall ? 'small' : 'large'" style='margin: 0 auto;'>
        <span style='font-size:100%'>동</span><span style='font-size:50%;color:#444;'>네</span><span style='font-size:100%'>친구</span>
    </div>
</div>
