.top-container {
    display:flex;
    width:100%;
    margin: 30px 0px 10px 0px;
  
}
.img-container {
    display:flex;
    flex-direction:column;
    border-radius:10px;
    background-color:#ddd;
    margin: 10px 10px 10px 0px;
}
.title-container {
    flex-grow:1;
    margin-right:10px;
}
.title {
    width:100%;
}
.content-container {
    display:flex;
    flex-direction:column;
    border-radius:10px;
    border: 1px solid #bbb;
    justify-content:center;
    align-items:center;
}

.toolbar-container {
    display:flex;
    border: 0px;
    justify-content:center;
    align-items:center;
}
.content-area {
    display:flex;
    border: 0px;
    width:100%;
    
}
.editor {
    width:100%;
    display:flex;
    border: 0px solid #F00;
    flex-grow:1;
}
:host ::ng-deep .ql-editor {
    width:100%;
}
.btn-container {
    width:100%;
    display:flex;
    align-items:center;
    justify-content:right;
    padding:10px;
}

:host ::ng-deep {
    .ql-tooltip::before {
        overflow: visible;
        content: 'URL';
    }
    .ql-tooltip a.ql-action::after {
        overflow: visible;
        content: '수정';
    }
    .ql-tooltip a.ql-remove::before {
        overflow: visible;
        content: '삭제';
    }
    .ql-tooltip.ql-editing a.ql-action::after {
        overflow: visible;
        content: '저장';
    }
    .ql-tooltip {
        overflow: visible;
    }
    .input-wrapper {
        margin-top:30px;
        min-width:300px;
    }
    .input {
        width:100%;
    }
}
