
<p-dialog header='링크' [(visible)]='b_linkDialog' [draggable]=false [resizable]=false>
    <span class="p-float-label input-wrapper">
        <input id="linkInput" type="text" pInputText [(ngModel)]="s_linkUrl" class='input'> 
        <label for="linkInput">URL을 입력해 주세요</label>
    </span>
    <ng-template pTemplate="footer">
        <p-button icon="pi pi-check" (click)="displayModal=false" label="" styleClass="p-button-text" (click)='insertLink()'></p-button>
    </ng-template>
</p-dialog>

<p-dialog header='동영상' [(visible)]='b_videoDialog' [draggable]=false [resizable]=false>
    <span class="p-float-label input-wrapper">
        <input id="videoInput" type="text" pInputText [(ngModel)]="s_videoUrl" class='input'> 
        <label for="videoInput">동영상 주소를 입력해 주세요</label>
    </span>
    <ng-template pTemplate="footer">
        <p-button icon="pi pi-check" (click)="displayModal=false" label="" styleClass="p-button-text" (click)='insertVideo()'></p-button>
    </ng-template>
</p-dialog>



<div class='top-container'>
    <span class='p-float-label title-container'>
        <input #title id='title' class='title' [(ngModel)]="articleTitle" (ngModelChange)='titleChange()' pInputText />
        <label for='title'>제목</label>
    </span>
    <app-user-chip [s_userName]='o_user?.name' [s_userPicUrl]='o_user?.profile_path' [d_userId]='o_user?.id'></app-user-chip>
</div>

<div class='content-container'>
    <div id="toolbar-container" class='toolbar-container'>
        <span class="ql-formats">
            <select class="ql-size">
                <option value="small">작게</option>
                <option value='medium' selected>보통</option>
                <option value="large">크게</option>
                <option value="huge">대형</option>
            </select>
        </span>
        <span class="ql-formats">
            <button class="ql-bold"></button>
            <button class="ql-italic"></button>
            <button class="ql-underline"></button>
            <button class="ql-strike"></button>
        </span>
        <span class="ql-formats">
            <select class="ql-color"></select>
            <select class="ql-background"></select>
        </span>
        <span class="ql-formats">
            <button class="ql-script" value="sub"></button>
            <button class="ql-script" value="super"></button>
        </span>
        <span class="ql-formats">
            <button class="ql-header" value="1"></button>
            <button class="ql-header" value="2"></button>
            <button class="ql-blockquote"></button>
            <button class="ql-code-block"></button>
        </span>
        <span class="ql-formats">
            <button class="ql-list" value="ordered"></button>
            <button class="ql-list" value="bullet"></button>
            <button class="ql-indent" value="-1"></button>
            <button class="ql-indent" value="+1"></button>
        </span>
        <span class="ql-formats">
            <button class="ql-direction" value="rtl"></button>
            <select class="ql-align"></select>
        </span>
        <span class="ql-formats">
            <button class="ql-link"></button>
            <button class="ql-image"></button>
            <button class="ql-video"></button>
        </span>
    </div>
    <p-divider></p-divider>
    <div class='content-area'>
        <div #editor id='editor' class='editor'>
        </div>
        <div>
            <div class='img-container'>
                <ng-container *ngFor='let o_img of a_imgs'>
                    <app-image-thumb [img]='o_img' (delClick)='delImg($event)' (checkClick)='checkImg($event)'>
                    </app-image-thumb>
                </ng-container>
            </div>
        </div>
    </div>
</div>

<div class='btn-container'>
    <button #submit pButton [disabled]='b_submitDisabled' class='p-button-outlined p-button-rounded btn' id='submit' (click)='onSubmit()'>제출</button>
</div>
