<div class="container">
    <p-divider align='left'>
        <div class='inline-flex align-items-center'>
            <i class='pi pi-user mr-2'></i>
            <b> 이메일 인증 성공</b>
        </div>
    </p-divider>
    <div class='flex align-items-center'>
    <div>
        이메일이 인증되었습니다.
    </div>
    <div style='margin:10px'>
        <a style='textDecoration:none' href='/map/login'><p-button style='margin:30px' class='m-1' >사이트로 이동</p-button></a>
    </div>
    </div>
</div>
