<ng-container *ngIf='o_event'>
    <div class='flex align-items-center justify-content-end'>
        <div>{{o_event.address}}</div>
        <div>
            <app-location-chip [f_lat]='o_event.lat' [f_lng]='o_event.lng'>
            </app-location-chip>
        </div>
    </div>
    <div class='flex align-items-center justify-content-end'>
        <div class='m-1' ><app-date [s_date]='o_event.at' ></app-date></div>
        <div *ngIf='o_user'><app-user-chip [o_user]='o_user'></app-user-chip></div>
    </div>

    <div>{{o_event.title}}</div>

    <div>{{o_event.description}}</div>

    <div class='flex flex-wrap justify-content-center'>
        <!-- 채팅방들 -->
        <div class='w-30rem'>
            <p-fieldset>
                <ng-template pTemplate='header'>
                    <div class='flex align-items-center'>
                        대화방
                        <app-mybutton s_label='만들기' (click)='createChat()' class='ml-2 overflow-visible' *ngIf='b_participating'>
                        </app-mybutton>
                    </div>
                </ng-template>
                <div class='flex flex-column'>
                    <app-room-item s_title='대표대화방' 
                        (click)='openDefaultChat($event)' 
                        s_color='bg-green'
                        >
                    </app-room-item>
                    <ng-container *ngFor='let o_chatRoom of a_chatRooms'>
                        <app-room-item 
                            [s_title]='o_chatRoom.title' 
                            [s_imgUrl]='o_chatRoom.img_url'
                            (click)='openChat(o_chatRoom.id)'
                            s_color='bg-teal'
                            [s_tooltip]='o_chatRoom.description'
                            >
                        </app-room-item>
                    </ng-container>
                </div>
            </p-fieldset>
        </div>

        <!-- 게시판들 -->
        <div class='w-30rem'>
            <p-fieldset>
                <ng-template pTemplate='header'>
                    <div class='flex align-items-center'>
                        게시판
                        <app-mybutton s_label='만들기' (click)='createForum()' class='ml-2 overflow-visible'  *ngIf='b_participating'>
                        </app-mybutton>
                    </div>
                </ng-template>
                <div class='flex flex-column'>
                    <app-room-item s_title='대표게시판' 
                        s_color='bg-yellow'
                        (click)='openDefaultForum($event)' 
                        >
                    </app-room-item>
                    <ng-container *ngFor='let o_forum of a_forums'>
                        <app-room-item 
                            [s_title]='o_forum.title' 
                            [s_imgUrl]='o_forum.img_url'
                            (click)='openForum(o_forum.id)'
                            s_color='bg-orange'
                            [s_tooltip]='o_forum.description'
                            >
                        </app-room-item>
                    </ng-container>
                </div>
            </p-fieldset>
        </div>
    </div>

    <div class='flex align-items-center justify-content-end py-1'>
        <ng-container *ngIf='!b_participating'>
            <app-mybutton s_label='참여' (click)='participate($event)'></app-mybutton>
        </ng-container>
        <ng-container *ngIf='b_participating'>
            <app-mybutton s_label='참여 취소' (click)='unparticipate($event)'></app-mybutton>
        </ng-container>
    </div>

    <p-divider>
        <p-tag severity='info'>참여자들</p-tag>
        총 {{a_participants?.length}} 명
    </p-divider>
    <div class='flex flex-wrap'>
        <ng-container *ngFor='let o_participant of a_participants'>
            <app-participant [d_userId]='o_participant.user_id'>
            </app-participant>
        </ng-container>
    </div>

</ng-container>
