
<p-divider>
    <p-tag severity='info'>참여한 이벤트</p-tag>
</p-divider>

<div *ngIf='a_meetups?.length > 0; else meetupElseBlock'>
    <div *ngFor='let meetup of a_meetups' class='row'>
        <p-card
            header='{{meetup.title}}'
            subheader='{{meetup.address}}'
            class='m-1'
            >
            <ng-template pTemplate='content'>
                {{meetup.description}}
            </ng-template>
            <ng-template pTemplate='footer'>
                <div class='flex align-items-center'>
                    {{meetup.at}} 
                    <p-button class='m-1' (click)='onClick(meetup.id)'> 보기</p-button>
                </div>
            </ng-template>
        </p-card>
    </div>
</div>

<ng-template #meetupElseBlock>
    <div>
        참여중인 이벤트가 없습니다.
    </div>
</ng-template>

<p-divider>
    <p-tag severity='info'>가입한 그룹</p-tag>
</p-divider>

<div *ngIf='a_groups?.length > 0; else groupElseBlock'>
    <div *ngFor='let group of a_groups' class='row'>
        <p-card
            header='{{group.title}}'
            subheader='{{group.address}}'
            class='m-1'
            >
            <ng-template pTemplate='content'>
                {{group.description}}
            </ng-template>
            <ng-template pTemplate='footer'>
                {{group.at}}<p-button (click)='onClick(group.id)'>보기 </p-button>
            </ng-template>
        </p-card>
    </div>
</div>
<ng-template #groupElseBlock>
    <div>
        가입한 그룹이 없습니다.
    </div>
</ng-template>
