<div>
    <div class='title-line'>
        <div class='user' (click)='userClick(o_msg.user_id)' style='cursor:pointer;'>
            <div *ngIf="o_msg?.user_pic; then thenBlock; else elseBlock">
            </div>
            <ng-template #thenBlock>
                <p-chip label='{{o_msg?.user_name}}' image='./{{o_msg?.user_pic}}'></p-chip>
            </ng-template>
            <ng-template #elseBlock>
                <p-chip label='{{o_msg?.user_name}}'></p-chip>
            </ng-template>
        </div>
    </div>
    <div [innerHTML]="o_msg?.content">
    </div>
</div>
