.label {
}
.block {
    margin: 10px;
}
.container {
    display:grid;
    grid-template-columns: repeat(auto-fill, 1fr);
    grid-gap:10px;
}
.main-label {
    font-weight:bold;
}
.background-img {
    display:flex;
    min-height:100px;
    background-size:cover;
}
.description {
    width:100%;
}
.btn-container {
    display:flex;
    width:100%;
    justify-content:flex-end;
    padding-top:10px;
}
