
.row {
    display:flex;
    align-items:center;
}
.row, div {
    margin: 5px;
}
.avatar {
    cursor:pointer;
}
.user_name {
    cursor:pointer;
}
.content {
    flex-grow:1;
}
.tag {
    width: 100px;
}
