<!--p-divider>
    <p-tag severity='info'>쪽지들</p-tag>
</p-divider-->

<div *ngIf='a_msgs?.length > 0; else msgElseBlock'>
    <div *ngFor='let msg of a_msgs' class='row'>
        <p-avatar image='{{msg.user_pic}}' shape='circle' class='avatar' (click)='requestClick(msg.user_id)'>
        </p-avatar>
        <div (click)='requestClick(msg.user_id)' class='user_name'>
            {{msg.user_name}}
        </div>
        <div class='content'>
            {{msg.content}}
        </div>
        <div>
            <button pButton type='button' label='읽기' class='p-button-outlined p-button-success' (click)="openMsg(msg)"></button>
        </div>
        <div class='tag'>
            <p-tag *ngIf='msg.opened==0' value='New'></p-tag>
        </div>
    </div>
    <p-paginator [rows]='d_rows' [totalRecords]='d_totalRecords' (onPageChange)='onPageChange($event)'></p-paginator>
</div>

<ng-template #msgElseBlock>
    <div>
        쪽지가 없습니다.
    </div>
</ng-template>
