<div class='flex'>
    <div style='width:80%' class='' style='flex-grow:1'>
        <p-scrollPanel styleClass='entries_container' #entries_container>
            <div *ngFor='let entry of a_entries' >
                <ng-container *ngIf="entry['type'] && entry['type']=='info'; then infoBlock; else msgBlock">
                </ng-container>
                <ng-template #msgBlock>
                    <ng-container *ngIf="entry['user_id']==o_user['id']; then firstBlock; else secondBlock"  >
                    </ng-container>
                    <ng-template #firstBlock>
                        <div *ngIf='m_entryUsers[entry["user_id"]]'  style='display:flex;align-items:center;justify-content:right;'>
                            <p-chip styleClass='mr-2 written_at'>{{entry['written_at']}}</p-chip>
                            <div style='' [innerHTML]="entry['content']"></div>
                            <div *ngFor='let s_img of entry["imgs"]'>
                                <img class='chat_img' [src]='s_img' (click)='chatImgClick($event, s_img)'/>
                            </div>
                            <p-chip label='{{m_entryUsers[entry["user_id"]]["name"]}}' image='{{m_entryUsers[entry["user_id"]]["profile_path"]}}' class='pointer' style='' (click)='userClick(entry["user_id"])'></p-chip>
                        </div>
                    </ng-template>
                    <ng-template #secondBlock>
                        <div *ngIf='m_entryUsers[entry["user_id"]]' style='display:flex;align-items:center;justify-content:left;'>
                            <p-chip label='{{m_entryUsers[entry["user_id"]]["name"]}}' image='{{m_entryUsers[entry["user_id"]]["profile_path"]}}' class='pointer' style='' (click)='userClick(entry["user_id"])'></p-chip>
                            <div style='' [innerHTML]="entry['content']"></div>
                            <div *ngFor='let s_img of entry["imgs"]'>
                                <img class='chat_img' [src]='s_img' />
                            </div>
                            <p-chip label="{{entry['written_at']}}" styleClass='mr-2 written_at'></p-chip>
                        </div>
                    </ng-template>
                </ng-template>
                <ng-template #infoBlock>
                    <!--ng-container *ngIf="entry['content']=='enter'; then enterBlock">
                    </ng-container>
                    <ng-container *ngIf="entry['content']=='exit'; then exitBlock">
                    </ng-container>
                    <ng-container *ngIf="entry['content']=='other'; then otherBlock">
                    </ng-container>
                    <ng-template #enterBlock>
                        <div class='info'>
                            <app-user-chip [o_user]="m_entryUsers[entry['user_id']]"></app-user-chip>님 입장
                        </div>
                    </ng-template>
                    <ng-template #exitBlock>
                        <div class='info'>
                            <app-user-chip [o_user]="m_entryUsers[entry['user_id']]"></app-user-chip>님 퇴장
                        </div>
                    </ng-template>
                    <ng-template #otherBlock>
                        <div class='info'>
                            <div style='display:flex;align-items:center;justify-content:center;' [innerHTML]="entry['content']"></div>
                        </div>
                    </ng-template -->
                </ng-template>
            </div>
        </p-scrollPanel>

        <div class='input-container' *ngIf='o_privilege?.write'>
            <span class='p-float-label input-wrapper'>
                <input id='text-input' type='text' pInputText (keyup.enter)="onContent($event)" [(ngModel)]='s_chatMsg' style='width:100%'/>
                <label for='text-input'>채팅하기..</label>
            </span>
            <p-button (click)='uploadImg()' icon='pi pi-image' class='input-btn'></p-button>
            <div style='display:flex' >
                <div *ngFor='let s_img of a_imgs' >
                    <img [src]='s_img' class='img-input'  />
                </div>
            </div>
        </div>
    </div>
    <p-divider layout='vertical'></p-divider>
    <div>
        <p-scrollPanel>
            <div class='user-pane'>
                <div *ngFor='let userItem of m_users | keyvalue'>
                    <app-user-chip [o_user]='userItem.value'>
                    </app-user-chip>
                </div>
            </div>
        </p-scrollPanel>
    </div>
</div>


