.pointer {
    cursor: pointer;
}

:host ::ng-deep .written_at {
    background: var(--primary-color);
    color: var(--primary-color-text);
}

:host ::ng-deep .entries_container {
    height:200px;
}

:host ::ng-deep .chat_img {
    width:50px;
    height:50px;
    cursor:pointer;
}

.img-input {
    width:50px;
    height:50px;
    margin: 3px;
    border: 2px dashed black;
}

.input-btn {
    margin: 3px;
}

.input-wrapper {
    margin: 3px;
    flex-grow:1;
}
.input-container {
    display:flex;
    align-items:center;
    margin-top:10px;
}
.user-pane {
    display:flex;
    flex-direction:column;
}
.info {
    display:flex;
    align-items:center;
    justify-content:center;
}
