
<p-divider>
    <p-tag severity='info'>친구요청</p-tag>
</p-divider>

<div *ngIf='a_requests?.length > 0; else reqElseBlock'>
    <div *ngFor='let request of a_requests' class='row'>
        <p-avatar image='{{request.user_pic}}' shape='circle' class='avatar' (click)='requestClick(request.user_id)'>
        </p-avatar>
        <div (click)='requestClick(request.user_id)' class='user_name'>
            {{request.user_name}}
        </div>
        <div>
            <button pButton type='button' label='수락' class='p-button-outlined p-button-success' (click)="acceptFriend(request.user_id)"></button>
        </div>
        <div>
            <button pButton type='button' label='거절' class='p-button-outlined p-button-fail' (click)='denyFriend(request.user_id)'></button>
        </div>
    </div>
</div>

<ng-template #reqElseBlock>
    <div>
        새로운 친구 요청이 없습니다.
    </div>
</ng-template>

<p-divider>
    <p-tag severity='info'>친구들</p-tag>
</p-divider>

<div *ngIf='a_friends?.length > 0; else frElseBlock'>
    <div *ngFor='let friend of a_friends' class='row'>
        <p-avatar image='{{friend.user_pic}}' shape='circle' class='avatar' (click)='requestClick(friend.user_id)'>
        </p-avatar>
        <div (click)='requestClick(friend.user_id)' class='user_name'>
            {{friend.user_name}}
        </div>
        <div (click)='requestClick(friend.user_id)' class='town_name'>
            {{friend.town_name}}
        </div>
    </div>
</div>
<ng-template #frElseBlock>
    <div>
        등록된 친구가 없습니다.
    </div>
</ng-template>

<p-divider>
    <p-tag severity='info'>지지자들(나를지지)</p-tag>
</p-divider>

<div *ngIf='a_voters?.length > 0; else vtElseBlock'>
    <div *ngFor='let voter of a_voters' class='row'>
        <app-user-chip [d_userId]="voter" (click)='requestClick(friend.user_id)' class='user_name'>
        </app-user-chip>
    </div>
</div>
<ng-template #vtElseBlock>
    <div>
        지지자가 없습니다.
    </div>
</ng-template>

<p-divider>
    <p-tag severity='info'>지지자들(내가지지)</p-tag>
</p-divider>

<div *ngIf='a_myvoters?.length > 0; else myvtElseBlock'>
    <div *ngFor='let voter of a_myvoters' class='row'>
        <app-user-chip [d_userId]="voter" (click)='requestClick(friend.user_id)' class='user_name'>
        </app-user-chip>
    </div>
</div>
<ng-template #myvtElseBlock>
    <div>
        지지자가 없습니다.
    </div>
</ng-template>
