<div class="img-wrapper {{img.is_main?'check':'uncheck'}}">
    <ng-container *ngIf="img['type']=='pic'; else vidBlock">
        <img [src]='cleanURL(img.img_url)' class='img'/>
    </ng-container>
    <ng-template #vidBlock>
        <iframe [src]="cleanURL(img.img_url)" frameborder="0" allow="" class='img' allowfullscreen></iframe>
    </ng-template>

    <div class='pic-overlay'>
        <ng-container *ngIf='hasClose'>
            <mat-icon class='overlay-icon' [ngStyle]="{'color':'#C12'}" (click)="onDelImg(img.id)">delete</mat-icon>
        </ng-container>
        <ng-container *ngIf='hasCheck'>
            <mat-icon class='overlay-icon' [ngStyle]="{'color':'#1C2'}" (click)="onCheckImg(img.id)">check</mat-icon>
        </ng-container>
    </div>
</div>
