
.img {
    width:70px;
    height:70px;
    border-radius:10px;
    pointer-events:none;
}

.img-wrapper {
    display:grid;
    margin:4px;
    padding:2px;
    position:relative;
}

.pic-overlay {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 9999;
}

.overlay-icon {
    cursor: pointer;
    font-size:20px;
    background-color:#FFF7;
    margin:2px;
}

.check {
    border: 1px solid #000;
}
.uncheck {
    border: 1px solid #0000;
}
