
<div class='container'>
    <div class='title-line'>
        <div class='title'>
            {{article?.title}}
        </div>
    </div>
    <div class='user-line'>
        <div class='rep-date'>
            <app-reputation [d_reputation]='article?.reputation'></app-reputation>
            <div class='date'>
                {{article?.created_at *1000 | date:'medium'}}
            </div>
        </div>
        <div class='user' (click)='userClick($event)' style='cursor:pointer;'>
            <div *ngIf="article?.user_pic_url; then thenBlock; else elseBlock">
            </div>
            <ng-template #thenBlock>
                <p-chip label='{{article?.user_name}}' image='./{{article?.user_pic_url}}'></p-chip>
            </ng-template>
            <ng-template #elseBlock>
                <p-chip label='{{article?.user_name}}'></p-chip>
            </ng-template>
        </div>
    </div>
    <div class='content-line'>
        <div [innerHTML]="article?.content | noSanitize" class='ql-editor'>
    </div>
    </div>
    <div class='btn-container'>
        <div class='recommend-btn-container'>
            <ng-container *ngIf='d_loggedInUserId!=article?.user_id' >
                <div (click)="onDownVote()" class='btn recommend' style='margin-top:5px'>
                    <mat-icon style="{{b_downvoted?'color:#901':'color:#aaa'}}">thumb_down</mat-icon>
                </div>
                <div (click)="onUpVote()" class='btn recommend'>
                    <mat-icon style="{{b_upvoted?'color:#091':'color:#aaa'}}">thumb_up</mat-icon>
                </div>
            </ng-container>
        </div>
        <div class='command-btn-container'>
            <ng-container *ngIf='d_loggedInUserId==article?.user_id' >
                <button pButton (click)="onEdit()" type='button' class='p-button-outlined btn'>
                    <mat-icon >edit</mat-icon>
                </button>
                <button pButton (click)="onDelete($event)" type='button' class='p-button-outlined btn'>
                    <mat-icon >delete</mat-icon>
                </button>
            </ng-container>
        </div>
    </div>
    <!--p-confirmDialog header="확인" rejectLabel='아니오' acceptLabel='예' icon="pi pi-exclamation-triangle"></p-confirmDialog-->
    <p-confirmPopup></p-confirmPopup>
    <div *ngIf='d_loggedInUserId !== -1'>
        <textarea pInputTextarea [(ngModel)]='s_comment' class='comment' [autoResize]=true>
        </textarea>
        <div class='comment-btn-container'>
            <div class='sort-container'>
                <p-selectButton [options]='commentSortOptions' [(ngModel)]='s_commentSort' optionLabel='name' optionValue='value' (onChange)='onCommentSortChange($event)'>
                </p-selectButton>
            </div>
            <button pButton class='comment-submit-btn' (click)='addComment($event)'>댓글 등록</button>
        </div>
    </div>

    <app-comments [a_comments]='a_comments' (e_onUpVote)='onCommentUpVote($event)' (e_onDownVote)='onCommentDownVote($event)'></app-comments>

</div>

