
.btn-container {
    display:flex;
    justify-content:space-between;
    margin:10px;
}

.title-line {
    display:inline-flex;
    align-items: center;
    border-top-left-radius:10px;
    border-top-right-radius:10px;
    width:100%;
}

.user-line {
    display:flex;
    align-items:center;
    justify-content:space-between;
    background-color:#fff;
    padding:5px;
    border-radius:10px;
}

.content-line {
    border-bottom-left-radius:10px;
    border-bottom-right-radius:10px;
}

.title {
    font-weight:bold;
    margin:7px;
}

.user {
    display:inline-flex;
    align-items: center;
    justify-self:end;
    margin-left: 10px;
    gap:5px;
}
.date {
    font-size:12px;
    font-color:#031;
    margin:0px 20px;
}

.btn {
    margin: 0px 7px;
    border-color:#000;
    color:#000;
    cursor:pointer;
}

.recommend{
}

.recommend-btn-container {
    display:flex;
    color:#000;
}

.icon {
    border-color:#000;
}
.rep-date {
    display:flex;
    align-items:center;
}

.comment {
    width:100%;
}

.comment-btn-container {
    display:flex;
    justify-content:space-between;
}
