<div *ngIf="o_user?.name || s_userName; else elseBlock">
    <p-chip label='{{o_user?o_user.name:s_userName}}' 
        image='{{o_user?o_user.profile_path:s_userPicUrl}}' 
        class='pointer' 
        (click)='userClick()'>
    </p-chip>
</div>
<ng-template #elseBlock>
    <p-chip label='{{o_user?o_user.name:s_userName}}' 
        class='pointer' 
        (click)='userClick()'>
    </p-chip>
</ng-template>
