
<p-toast></p-toast>

<ng-template [ngIf]="myProfile" >
    <div class='container'>

        <div class='overlay-container'>
            <p-fieldset legend='이름'>
                {{myProfile['name']}}
            </p-fieldset>
            <p-button 
                label=''
                class='overlay'
                (click)='modifyName($event)'>
                <span class="material-icons">
                    edit
                </span>
            </p-button>
        </div>

        <div class='overlay-container'>
            <p-fieldset legend='소개글'>
                {{myProfile['intro']}}
            </p-fieldset>
            <p-button 
                label=''
                class='overlay'
                (click)='modifyIntro($event)'>
                <span class="material-icons">
                    edit
                </span>
            </p-button>
        </div>

        <p-fieldset legend='사진'>
            <div class='profile-img-container'>
                <div *ngFor="let img of myProfile['imgs']" [ngClass]="['grid-item', img.is_main == 1 ? 'main-pic' : 'normal-pic']" >

                    <img src="{{img.name}}"  class='pic'/>
                    <div class='pic-overlay'>
                        <mat-icon class='overlay-icon' [ngStyle]="{'color':'#C12'}" (click)="onDelImg(img.id)">delete</mat-icon>
                    <mat-icon class='overlay-icon' [ngStyle]="{'color':'#1C2'}" (click)="onSetMainImg(img.id)">check</mat-icon>
                    </div>
                </div>

                <input type="file" class="file-input"
                                   (change)="onFileSelected($event)" #fileUpload>

                <div> 
                    <button mat-mini-fab color="primary" 
                                         (click)="fileUpload.click()">
                        <mat-icon>attach_file</mat-icon>
                    </button>
                </div>
            </div>

        </p-fieldset>

        <div>
            <p-fieldset legend='게시물들'>
                <app-user-articles></app-user-articles>
            </p-fieldset>
        </div>
    </div>
</ng-template>
