.container {
    display:grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fill);
}


.file-input {
    display: none;
}

.normal-pic {
    border : 2px solid black;
}

.main-pic {
    border : 3px solid red;
}

.pic-overlay {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
}

.profile-img-container {
    display:grid;
    grid-gap: 15px 10px;
    grid-template-columns: repeat(auto-fill, 100px);
    grid-template-rows: repeat(auto-fill, 80px);
}

.overlay-container {
    position:relative;
}

.overlay {
    position:absolute;
    top:10px;
    right:10px;
}

img.pic {
    object-fit:scale-down;
    width:100%; 
    align-items: center;
    justify-content: center;
}

.grid-item {
    display: flex;
    position: relative;
    justify-self: center;
    align-self: center;
    height: 100%;
}

.overlay-icon {
    cursor: pointer;
    font-size:20px;
    background-color:#FFF7;
    margin:2px;
}
