
<p-toast></p-toast>
<p-menubar [model]='menuItems'></p-menubar>

<p-divider></p-divider>

<div class='container'>

    <!--div class='dock-window dock-advanced'>
        <p-dock [model]='dockItems' position='top'>
            <ng-template pTemplate='item' let-item>
                <img [src]='item.icon' class='dock-img' pTooltip='{{item.label}}' tooltipPosition='top'/>
            </ng-template>
        </p-dock>
    </div-->

    <div class='entries'>
        <p-fieldset legend='소개' class='w-auto'>
            <div class='text-2xl font-bold'>
                {{userProfile?.name}}
            </div>
            <div class=''>
                {{userProfile?.town_sig_kor_nm}}
            </div>
            <div style='font-size:10px'>
                {{userProfile?.intro}}
            </div>
        </p-fieldset>
    </div>

    <p-fieldset legend='사진' class='w-auto'>
        <p-galleria [value]="imgs" [numVisible]="5"  [responsiveOptions]="responsiveOptions" class='galleria'>
            <ng-template pTemplate="item" let-item>
                <div class='preview-wrapper'>
                    <img [src]="item.name" class='preview-container' (click)='imageClick(item.name)'/>
                </div>
            </ng-template>
            <ng-template pTemplate="thumbnail" let-item>
                <div class="grid grid-nogutter justify-content-center thumb-wrapper">
                    <img [src]="item.name" class='thumb-container' />
                </div>
            </ng-template>
        </p-galleria>
    </p-fieldset>

    <div>
        <p-fieldset legend='게시물들'>
            <app-user-articles [d_userId]="d_userId"></app-user-articles>
        </p-fieldset>
    </div>
</div>
