.container {
    display:grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fill);
}

.galleria {
    width: 100%;
    display:inline;
}
.preview-wrapper {
    width: 100%;
    height:350px;
    margin: 0 auto;
    overflow: hidden;
}

.preview-container {
    display:block;
    width:100%;
    height:100%;
    object-fit:contain;
    overflow: hidden;
}


.thumb-wrapper {
    display:grid;
    width: 70px;
    height: 50px;
    overflow:hidden;
    justify-content: center;
}

.thumb-container {
    width:100%;
    height:100%;
    object-fit:cover;
    overflow: hidden;
}

.entries {
    display: grid;
}

:host ::ng-deep .p-card {
    background-color:#f2f2da;
}
:host ::ng-deep .p-dock-list {
    border-radius:15px;
    background-color:#0001;
    border: 1px solid #0003;
}

:host ::ng-deep .p-dock-item{
    margin: 0px;
    padding:0px;
}

:host ::ng-deep .button {
    margin: 10px;
}
.dock-img {
    width:50px;
    height:50px;
    border-radius:15px;
    cursor:pointer;
}
