<p-toast></p-toast>

<div class='container'>
    <p-panel header='제목(필수)'>
    <div class='p-float-label block'>
        <input id='title' [ngClass]="{'ng-invalid ': s_title === ''}" class='ng-dirty' type='text' aria-describedby='title-help' pInputText [(ngModel)]='s_title' style='width:100%' required/>
        <label for='title' class='label'>채팅방 제목을 입력해 주세요.</label>
    </div>
    </p-panel>
    <p-panel header='설명'>
        <div class='p-float-label block'>
            <textarea id='description' pInputTextarea cols='30' autoResize='autoResize' style='' maxlength="250" class='description' (input)='descriptionType($event)' [(ngModel)]='s_description'></textarea>
            <label for='description' class='label'>채팅방에 대한 간략한 설명을 입력해 주세요.</label>
        </div>
    </p-panel>
    <p-panel>
        <ng-template pTemplate="header">
            <div style='display:flex; align-items:center;justify-content:space-between;width:100%;font-weight:bold;'>배경사진
            <button pButton pRipple type='button' (click)='uploadImg()' class='p-button-rounded p-button-outlined'>
                <span class="material-icons">
                    upload
                </span>
            </button>
            </div>
        </ng-template>
        <div class='background-img' style='background-image:  url("{{s_backImg}}");'>
            <label for='back_img' class='label'>배경으로 사용할 이미지를 업로드 해주세요.</label>
        </div>
    </p-panel>
</div>
<div class='btn-container'>
    <p-button label='개설하기' (click)='submit($event)'>
    </p-button>
</div>
