<div class='flex flex-column align-items-center m-1 shadow-1 cursor-pointer' (click)='onClick($event)'>
    <ng-container *ngIf='o_user?.profile_path;else no_img' >
        <img [src]='o_user?.profile_path' class='relative w-5rem h-5rem' style='object-fit:cover'/>
    </ng-container>
    <ng-template #no_img>
        <div class='relative w-5rem h-5rem bg-cyan-500'></div>
    </ng-template>
    <div class=''>
        <div>{{o_user?.name}}</div>
        <div>{{o_user?.town_sig_kor_nm}}</div>
    </div>
</div>
