<p-table [value]='a_listItems' [paginator]='false' [rowSelectable]='rowSelectable' selectionMode='single' responsiveLayour='scroll' styleClass='no-focus' [rowHover]='true' tableStyleClass='no-focus'>
    <ng-template pTemplate="header">
        <tr>
            <th class='p-column-title'>동네</th>
            <th class='p-column-title'>게시판명</th>
            <th class='p-column-title'>제목</th>
            <th class='p-column-title'>생성일자</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-listItem>
        <tr (click)='rowClick($event, listItem)' [pSelectableRow]='listItem' class='p-selectable-row no-focus' >
            <td><span class='p-column-title'>동네</span>{{listItem.town_name}}</td>
            <td><span class='p-column-title'>게시판명</span>{{listItem.forum_title}}</td>
            <td><span class='p-column-title'>제목</span>{{listItem.title}}</td>
            <td><span class='p-column-title'>생성일자</span>{{listItem.created_at * 1000 | date}}</td>
        </tr>
    </ng-template>
</p-table>
<p-paginator [rows]='d_rows' (onPageChange)='paginate($event)' [totalRecords]='d_totalRecords'>
</p-paginator>
