<div class='container'>

    <span class='p-float-label entry'>
        <input id='title' type='text' pInputText [(ngModel)]='s_title' required [class]='s_inputClass'>
        <label for='title'>제목</label>
    </span>

    <div class='entry'>
        <app-address
            [(s_address)]='s_address'
            [(f_lat)]='f_lat'
            [(f_lng)]='f_lng'>
        </app-address>
    </div>

    <span class='p-float-label entry'>
        <textarea id='description' pInputTextarea autoResize='autoResize' [(ngModel)]='s_description' required [class]='s_inputClass' ></textarea>
        <label for='description'>상세설명</label>
    </span>

    <span class='p-float-label entry' *ngIf='["meetup", "debate"].includes(s_type)'>
        <p-calendar id='date' name="" 
            dateFormat='yy-mm-dd' showTime='true' 
            [hourFormat]='24' appendTo='body' 
              showButtonBar='true' showIcon='true'
            dataType='string' [(ngModel)]='s_date'
            showOnFocus='false'
            readOnlyInput='true' required
              [class]="s_inputClass"
            >
        </p-calendar>
        <label for="date"><b>일정</b></label>
    </span>

    <div *ngIf='s_type =="debate"'>
        <div class='field-checkbox entry'>
            <p-checkbox [(ngModel)]='b_online' [binary]='true' inputId='binary'></p-checkbox>
            <label for='binary'>온라인</label>
        </div>
    </div>

    <div class='btn-container'>
        <button pButton pRipple type='button' icon='pi pi-check' class='p-button-rounded btn' (click)='onSubmit($event)'></button>
        <button pButton pRipple type='button' icon='pi pi-times' class='p-button-rounded p-button-danger btn' (click)='onCancel($event)'></button>
    </div>
</div>
