.entry {
    margin-top:20px;
}

.btn-container {
    display:flex;
    justify-content:end;
    margin-top:20px;
    width:100%;
}

.btn {
    margin: 5px;
}

.container {
    display:flex;
    flex-direction:column;
}

.addressline {
    display:flex;
    width:100%;
}

input, textarea {
    width:100%;
}

.entry {
}

.flex-grow {
    flex-grow:1;
}

::host ::ng-deep .mycalendar {
    visibility:hidden;
    width:0;
    background-color:#F00;
}
