<ng-container *ngIf='b_showHelp'>
    <p-fieldset>
        <ng-template pTemplate='header'>
            <div class='header-container'>
                <p-tag styleClass='tag'>{{s_name}}</p-tag>
                <p-button icon="pi pi-check" class='check-icon' (click)='confirm($event)'></p-button>
            </div>
        </ng-template>
        <!-- TODO : help component 로 바꾸기 -->
        <ng-template pTemplate='content'>
            <p>
            {{s_description}}
            </p>
        </ng-template>
    </p-fieldset>

</ng-container>
