.btn-container {
    position: absolute;
    display: flex;
    flex-wrap:wrap;
    top: 10px;
    left: 10px;
    right: 10px;
    z-index:1000;
    grid-template-columns: 20% 20% 20% 20% 20%;
}

.menu-component {
    display:flex;
    margin: 3px 3px;
    align-items: center;
    justify-content: center;
}

.thumbnail {
    width: 35px;
    height: 35px;
    object-fit:cover;
}

.mode-component {
    grid-column: span 2;
}

.event-container {
    display:flex;
    flex-wrap:wrap;
    align-items:center;
}

:host ::ng-deep .mode-fieldset {
    border-color:#fff !important;
    background-color:#fff;
}
:host ::ng-deep .event-fieldset {
    border-color:#fff !important;
}
:host ::ng-deep .p-fieldset .p-fieldset-legend {
    padding: 3px;
    border-color:#fff !important;
}
:host ::ng-deep .p-fieldset .p-fieldset-content {
    padding: 0px;
}

:host ::ng-deep {
    .p-selectbutton.myevent .p-button.p-highlight {
        background-color:#333;
        border-color:#777;
    }
    .p-selectbutton.mode-select .p-button.p-highlight {
        background-color:#333;
        border-color:#777;
    }
    .p-calendar.p-calendar-w-btn .p-datepicker-trigger{
        background-color:#333 !important;
        border-color:#777;
    }
}


.event-cal-container {
    display:flex;
    align-items:center;
}

@media only screen and (max-width: 768px) {
    .event-container {
        flex-direction:column;
    }
}
@media only screen and (max-width: 500px) {
    .event-cal-container {
        flex-direction:column;
    }
}
