<div class='btn-container'>

    <!-- account -->

    <div class='menu-component'>
        <div *ngIf="user == null; else elseBlock">
             <button type="button" pButton pRipple   [style]="{backgroundColor:'#000',borderColor:'#777'}" icon="pi pi-bars" label="계정" (click)="menu.toggle($event)"></button>
            <p-menu #menu [popup]="true" appendTo='body' [model]="accountMenuItems"></p-menu>
        </div>

        <ng-template #elseBlock>
            <button type='button' pButton pRipple icon='pi pi-bars' label="{{user.email}}"  [style]="{backgroundColor:'#673',borderColor:'#ab7'}" (click)="menu.toggle($event)">
                <img *ngIf="user.profile_path" src="{{user.profile_path}}" class='thumbnail' />
            </button>
            <p-menu #menu [popup]="true" appendTo='body' [model]="accountMenuItemsLoggedIn"></p-menu>
        </ng-template>
    </div>


    <!-- friends -->

    <div *ngIf='user != null' class='menu-component'>
        <p-button label='친구' icon='pi pi-users' (click)='friendsPanel.toggle($event)' badge='{{a_friendRequests?.length}}'  [style]="{backgroundColor:'#000',borderColor:'#777'}"></p-button>

        <p-overlayPanel #friendsPanel [showCloseIcon]='true'>
            <app-friends></app-friends>
        </p-overlayPanel>
    </div>


    <!-- note message -->

    <div *ngIf='user != null' class='menu-component'>
        <p-button label='쪽지' icon='pi pi-users' (click)='showNoteMsgs($event)' badge='{{d_newMsgCount}}'  [style]="{backgroundColor:'#000',borderColor:'#777'}"></p-button>

    </div>


    <!-- mode -->
    <div class='menu-component mode-component'>
        <p-fieldset styleClass='mode-fieldset'>
            <ng-template pTemplate='header'>모드 선택</ng-template>
            <p-selectButton 
                 [options]='a_modeOptions' 
                 [(ngModel)]='s_mode' 
                 optionLabel='name'
                 optionValue='value'
                 (onChange)='modeChange($event)'
                     styleClass='mode-select'
                 >
            </p-selectButton>
        </p-fieldset>
    </div>
    
    <!-- score -->
    <div *ngIf='user!=null' class='menu-component'>
        <div class='bg-yellow-500 flex align-items-center border-round p-2'>
            <span class="material-icons">
                auto_awesome
            </span>
            인지도
            {{ d_score }}
        </div>
    </div>

    <!-- event toggle -->
    <div *ngIf='s_mode=="event"'>
        <p-fieldset styleClass='event-fieldset'>
            <ng-template pTemplate='header'>모임</ng-template>
            <div class='event-container'>
                <p-selectButton [options]="a_typeOptions" [(ngModel)]="a_selTypes" multiple="multiple" optionLabel="name" optionValue="value" (onChange)='typeChange($event)' styleClass='myevent' class='m-1'></p-selectButton>

                <div class='flex align-items-center bg-cyan-300  event-cal-container'>
                    <div class='p-1'>
                        <div class='flex align-items-center'>
                            <p-calendar id='dateFrom' name="from" 
                                                      dateFormat='yy-mm-dd' [showTime]=false
                                                      appendTo='body' 
                                                      showButtonBar='true' showIcon='true'
                                                      dataType='string' [(ngModel)]='s_dateFrom'
                                                      showOnFocus='false'
                                                      view='date'
                                                      readOnlyInput='true' required
                                                      [class]="s_inputClass"
                                                      [style]="{width:'150px'}"
                                                      (onSelect)='dateFromChange($event)'
                                                      (onClose)='dateFromChange($event)'
                                                      >
                            </p-calendar>
                            <div>
                                부터
                            </div>
                        </div>
                    </div>
                    <div class='p-1'>
                        <div class='flex align-items-center'>
                            <p-calendar id='dateTo' name="to" 
                                                    dateFormat='yy-mm-dd' [showTime]=false
                                                    [hourFormat]='24' appendTo='body' 
                                                    showButtonBar='true' showIcon='true'
                                                    dataType='string' [(ngModel)]='s_dateTo'
                                                    showOnFocus='false'
                                                    readOnlyInput='true' required
                                                    [class]="s_inputClass"
                                                    [style]="{width:'150px'}"
                                                    (onSelect)='dateToChange($event)'
                                                    (onClose)='dateToChange($event)'
                                                    >
                            </p-calendar>
                                <div>
                                    까지
                                </div>
                        </div>
                    </div>
                </div>

                <!-- events -->

                <div *ngIf='user != null' class='menu-component'>
                    <p-button label='내 이벤트' icon='pi pi-event' class='m-1 bg-yellow-500' 
                        [style]="{backgroundColor:'#ac3',borderColor:'#7a0'}"
                        (click)='eventsPanel.toggle($event)' ></p-button>

                    <p-overlayPanel #eventsPanel [showCloseIcon]='true' [style]="" >
                        <p-scrollPanel [style]="{width:'500px', height: '500px'}">
                            <app-myevents></app-myevents>
                        </p-scrollPanel>
                    </p-overlayPanel>
                </div>

            </div>
        </p-fieldset>
    </div>

    <ng-container *ngIf='b_isDev'>
        <button (click)='testClicked()' class='menu-component'>test</button>
    </ng-container>

</div>
