
<div class='flex border-round cursor-pointer {{s_color}}-400 p-2 hover:{{s_color}}-500' style='margin:1px' pTooltip='{{s_tooltip}}' tooltipPosition='top'>
    <div class='flex {{s_color}}-600 p-1 m-0 w-full border-round'>
        <img *ngIf='s_imgUrl' [src]='s_imgUrl' class='w-5rem h-5rem' />
        <div class='text-1xl font-bold text-indigo-50'>
            {{s_title}}
        </div>
        <!-- artifacts -->
        <div>
        </div>
    </div>
</div>
