<div class='sort-container'>
    <p-selectButton [options]='sortOptions' [(ngModel)]='s_sort' optionLabel='name' optionValue='value' (onChange)='onSortChange($event)'>
    </p-selectButton>
</div>

<ng-container *ngFor='let o_item of a_listItems; let lastItem = last;'>
    <div  class='container'>
        <div class='user-row'>
            <div class='user'>
                <app-user-chip [s_userName]='o_item.user_name' 
                    [s_userPicUrl]='o_item.user_pic_url' 
                    [d_userId]='o_item.user_id'>
                </app-user-chip>
            </div>
            <div class='date'>
                <div *ngIf="o_item['time_diff']; else normalDateBlock">
                    {{ o_item['time_diff'] }} 전
                </div>
                <ng-template #normalDateBlock>
                    {{o_item.created_at * 1000 | date:'medium'}}
                </ng-template>
            </div>
        </div>
        <div class='title-row clickable' (click)='rowClick($event, o_item)'>
            <div class='title-column'>
                <div class='title'>
                    {{o_item.title}}
                </div>
                <div class='summary '>
                    <pre>{{o_item.summary}}</pre>
                </div>
            </div>
            <div class='pic-column'>
                <ng-container *ngIf='o_item.img_url'>
                    <ng-container *ngIf="o_item.img_type=='pic' else vidBlock">
                        <img [src]='o_item.img_url' class='img ' />
                    </ng-container>
                    <ng-template #vidBlock >
                        <iframe [src]='cleanURL(o_item.img_url)' class='img ' frameborder='0' allow='' allowFullscreen>
                        </iframe>
                    </ng-template>
                </ng-container>
            </div>
        </div>
    </div>
</ng-container>
<p-paginator [rows]='d_rows' (onPageChange)='paginate($event)' [totalRecords]='d_totalRecords'>
</p-paginator>
<div class='btn-container'>
    <button pButton label='글쓰기' (click)='writeNew($event)' class='p-button-outlined p-button-rounded btn'></button>
</div>
