
.user
{
    display: inline-flex;
    align-items: center;
    gap:5px;
    margin: 0px 10px;
}
.date {
    font-size:12px;
}


.title {
    flex-grow:1;
    font-weight:bold;
}

.img {
    border-radius: 10px;
    max-height:200px;
}

.title-row {
    display:flex;
    align-items:top;
    justify-content:space-between;
    width:100%;
}

.user-row {
    display:flex;
    justify-content:left;
    align-items:center;
}

.pic-column {
    justify-content:flex-end;
}

.title-column {
    display:flex;
    flex-direction:column;
}

.title {
    font-weight:bold;
}

.summary {
    text-overflow: ellipsis;
    white-space: nowrap;
}

.clickable {
    cursor:pointer;
}

.container:hover {
    border-color:#000;
}

.container {
    border: 1px solid #0000;
    padding: 10px;
    margin: 10px 0px;
    border-radius:10px;
    background-color:#f0f4f2;
}

.btn-container {
    display:flex;
    justify-content:end;
    margin:10px;
}

.btn {
}

.sort-container {
    display:flex;
    justify-content:end;
}
