<div *ngFor="let o_comment of a_comments; let o_last = last;" class=''>
    <div class='container'>
        <div class='vote-container'>
            <ng-container>
                <div (click)="onUpVote(o_comment)" class='btn recommend'>
                    <mat-icon style="{{o_comment.vote>0?'color:#091':'color:#aaa'}}">thumb_up</mat-icon>
                </div>
                {{o_comment.reputation}}
                <div (click)="onDownVote(o_comment)" class='btn recommend' style='margin-top:5px'>
                    <mat-icon style="{{o_comment.vote<0?'color:#901':'color:#aaa'}}">thumb_down</mat-icon>
                </div>
            </ng-container>
        </div>

        <div class='inner-container'>
            <div class='comment-item'>
                <app-user-chip [s_userName]="o_comment['user_name']" [s_userPicUrl]="o_comment['user_pic_url']" [d_userId]="o_comment['user_id']">
                </app-user-chip>
                <div class='date'>
                    {{utilService.getTimeDiffStr(o_comment['created_at']*1000)}} 전
                </div>
                <div class='cursor-pointer' (click)="delComment(o_comment['id'])" *ngIf="o_userValue?.id == o_comment['user_id']">
                    <mat-icon >delete</mat-icon>
                </div>
            </div>
            <div class='comment-content' style='white-space:pre-wrap;word-wrap:break-word;'>
                {{o_comment['content']}}
            </div>
        </div>
    </div>

    <p-divider *ngIf='!o_last'></p-divider>
</div>
