
.comment-submit-btn {
    justify-self:end;
}
.comment-item {
    display:flex;
    align-items:center;
}

.comment-content {
    margin-left:10px;
}

.date {
    font-size:10px;
    margin:4px;
}

.container{
    display:flex;
    align-items:start;
}

.vote-container {
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    margin-right:10px;
}

.recommend {
    cursor:pointer;
}

.inner-container {
}
