<div #container class='container'>
    <div class='reputation'>
        {{d_reputation}}
    </div>
    <div class='icon'>

        <mat-icon >
        <ng-container *ngIf='d_reputation<50'>
                mood_bad
        </ng-container>

        <ng-container *ngIf='d_reputation>=50 && d_reputation<=120'>
                sentiment_satisfied
        </ng-container>

        <ng-container *ngIf='d_reputation>=120 && d_reputation<=200'>
                sentiment_very_satisfied
        </ng-container>

        <ng-container *ngIf='d_reputation>=200'>
                military_tech
        </ng-container>
            </mat-icon>

    </div>
</div>
