<form style="">
    <p-toast></p-toast>
    <div class="container">
        <p-divider align='left'>
            <div class='inline-flex align-items-center'>
                <i class='pi pi-user mr-2'></i>
                <b> 재설정 할 비밀번호를 입력해 주세요.</b>
            </div>
        </p-divider>

        <div style='display:grid;grid-gap:20px 20px;grid-template-columns: 200px 200px 200px;padding:20px;'>
            <span class='p-float-label'>
                <input id='pwd' type="password" name="email" [formControl]='pwdForm' pInputText required>
                <label for="pwd"><b>비밀번호</b></label>
            </span>
            <span class='p-float-label'>
                <input id='pwdconfirm' type="password" name="email" [formControl]='pwdConfirmForm' pInputText required>
                <label for="pwdconfirm"><b>비밀번호 확인</b></label>
            </span>

        </div>

        <div style='display:flex;flex-wrap:wrap;align-items:center;padding:20px'>
            <span class='' style='display:flex;text-align:right;' *ngIf='!b_modified'>
                <p-button type="button" label='비밀번호 변경하기' (click)='resetPwd()'></p-button>
            </span>
            <a *ngIf='b_modified' style='textDecoration:none' href='/map/login'><p-button style='margin:30px' class='m-1' >사이트로 이동</p-button></a>
        </div>
    </div>
</form>
