<div class='flex flex-wrap w-full'> 
    <span class='p-float-label entry flex-grow-1 mr-1' >
        <p-autoComplete id='address' [(ngModel)]='s_addressFront' [suggestions]='a_suggestions' (completeMethod)='addressChange($event)' appendTo="body" (onSelect)='onSelect($event)' styleClass='w-full' inputStyleClass='w-full' (onKeyUp)='onFrontChange($event)' required ></p-autoComplete>
        <label for='address'>위치 주소</label>
    </span>

    <span class='p-float-label entry ' >
        <input pInputText [(ngModel)]='s_addressDetail' required (onChange)='onDetailChange($event)'/>
        <label for='address'>상세 주소</label>
    </span>

    <span class='p-float-label entry'>
        <app-location-chip [f_lat]='f_lat?.toFixed(2)' [f_lng]='f_lng?.toFixed(2)'>
        </app-location-chip>
    </span>
</div>
