
<span class='p-float-label m-1'>
    <span class="material-icons">
        location_on
    </span>
    <p-chip class='mr-1' label='{{f_lat}}'></p-chip>
    <p-chip class='' label='{{f_lng}}'></p-chip>
</span>
