<form>
    <p-toast></p-toast>
    <div class="container">
        <p-divider align='left'>
            <div class='inline-flex align-items-center'>
                <i class='pi pi-user mr-2'></i>
                <b> 아래 항목들을 입력해 주세요.</b>
            </div>
        </p-divider>
        <div style='display:grid;grid-gap:20px 20px;grid-template-columns: 200px 200px 200px;padding:20px;'>
            <span class='p-float-label'>
                <input id='emailinput' type="text" name="email" [formControl]='emailForm' pInputText required>
                <label for="emailinput"><b>이메일</b></label>
            </span>

            <span class='p-float-label'>
                <input id='pwd' type="password" name="pwd" [formControl]='pwdForm' pInputText required>
                <label for="pwd"><b>비밀번호</b></label>
            </span>

            <span class='p-float-label'>
                <input id='pwd_repeat' type="password" name="pwd-repeat" [formControl]='pwdRepeatForm' pInputText required>
                <label for="pwd_repeat"><b>비밀번호 확인</b></label>
            </span>
            <span class='p-float-label'>
                <input id='user_name' type="text" name="user-name" [formControl]='userNameForm' pInputText required>
                <label for="user_name"><b>이름</b></label>
            </span>
        </div>

        <p-divider align='left'>
            <div class='inline-flex align-items-center'>
                <i class='pi pi-user mr-2'></i>
                <b> 선택 항목들 </b>
            </div>
        </p-divider>
        <div style='display:grid;grid-gap:20px 20px;grid-template-columns: 200px 200px 200px;padding:20px;'>
            <span class='p-float-label'>
                <p-calendar id='birth_date' name="birth-date" dateFormat='yy-mm-dd' [defaultDate]='o_defaultDate' appendTo='body' [formControl]='birthDateForm'></p-calendar>
                <label for="birth_date"><b>생년월일</b></label>
            </span>
        </div>

        <div style='display:flex;flex-wrap:wrap;align-items:center;padding:20px'>
            <span style='float:left'>
                <a href="#" style="color:dodgerblue">이용 약관</a>
            </span>

            <span style='flex-grow:4'></span>
            <span class="p-buttonset" style='display:flex;text-align:right;'>
                <button pButton type="button" label='취소' icon='pi pi-times' class="cancelbtn" (click)='onCancel()'></button>
                <button pButton type="submit" label='가입' icon='pi pi-check' class="signupbtn" (click)='onSubmit()'></button>
            </span>
        </div>
    </div>
</form>
