<form style="">
    <p-toast></p-toast>
    <div class="container">
        <p-divider align='left'>
            <div class='inline-flex align-items-center'>
                <i class='pi pi-user mr-2'></i>
                <b> 로그인 정보를 입력해 주세요 .</b>
            </div>
        </p-divider>

        <div style='display:flex;padding:20px;flex-wrap:wrap;align-items:center'>
            <span class='p-float-label m-1'>
                <input id='emailinput' type="text" name="email" [formControl]='emailForm' pInputText required>
                <label for="emailinput"><b>이메일</b></label>
            </span>

            <span class='p-float-label m-1'>
                <input id='pwdinput' type="password" name="pwd" [formControl]='pwdForm' pInputText required>
                <label for="pwdinput"><b>비밀번호</b></label>
            </span>

            <label class='m-1'>
                <input type="checkbox" checked="checked" name="remember" style="margin-bottom:15px"> 로그인 유지하기
            </label>
        </div>

        <div style='display:flex;flex-wrap:wrap;align-items:center;padding:20px'>
            <span class='p-buttonset' style='display:flex;text-align:right;flex-wrap:wrap'>
                <button pButton type="button" style='background-color:#333;border-color:#555' label='취소' icon='pi pi-times' (click)='close()'></button>
                <button pButton type="submit" style='background-color:#AA3;border-color:#444' label='로그인' icon='pi pi-check' (click)='onSubmit()'></button>
                <button pButton type="submit" style='background-color:#3A3;border-color:#444' label='회원가입' icon='pi pi-check' (click)='onSignup()'></button>
            </span>
                <button pButton type="submit" label='비밀번호 재설정' (click)='onPwdReset()' class='p-button-text'></button>
        </div>
    </div>
</form>
