
.map-container {
    position: absolute;
    top: 30px;
    left: 30px;
    right: 30px;
    bottom: 30px;
    padding: 0px;
    margin: 0px;
}

@media only screen and (max-width: 768px) {
    .map-container {
        top: 0px;
        left: 0px;
        right: 0px;
        bottom: 0px;
    }
}


.map-frame {
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
}

.three-frame {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    z-index:999;
    pointer-events:none;
}

#map {
    height: 100%;
}
