
<p-contextMenu [global]='true' [model]='a_menuItemsDom' (onHide)='onContextHide($event)'></p-contextMenu>
<div class="map-container sm:text-sm">
    <div class="map-frame">
        <div id="map"></div>
    </div>
    <div class='three-frame'>
        <app-map-three-layer #mapThreeLayer></app-map-three-layer>
    </div>
    <app-main-menu></app-main-menu>
</div>
<div style='position:fixed;top:0;left:0;width:100%;height:100%;z-index:9999;pointer-events:none'>
    <app-logo></app-logo>
</div>
