<div class='main-class'>
    
    <app-confirm #appConfirm></app-confirm>

    <p-menubar [model]='menuItems'></p-menubar>

    <app-help-snippet s_key='village_help' s_name='대화방 및 게시판' s_description='원하는 주재로 동네 대화방이나 게시판을 만들어 보아요.'></app-help-snippet>
    
    <p-tabView>

        <p-tabPanel>
            <ng-template pTemplate='header'>
                대화방
                <mat-icon id='chat'>
                    chat
                </mat-icon>
            </ng-template>
            <p-scrollPanel >

                <p-dataView [value]='a_townChats' [paginator]='true' [rows]='5' layout='grid'>
                    <ng-template let-chat pTemplate='gridItem'>
                        <div class='item-wrapper'>
                            <p-card header="{{chat['type']=='default'?s_townName:chat.title}}" [style]="{'width':'250px'}" styleClass="{{chat['type']=='default'?'main-item':'sub-item'}}">
                                <ng-template *ngIf="chat['type']=='default'" pTemplate='subtitle'>
                                    <div >
                                        <span class='main-subtitle'>
                                            대표 대화방
                                        </span>
                                    </div>
                                </ng-template>

                                <ng-template pTemplate="header">
                                    <img *ngIf="chat['img_url']" alt="" [src]="chat['img_url']">
                                </ng-template>
                <div class='description'>{{chat.description}}</div>
                                <ng-template pTemplate="footer">
                                    <p-button label="입장하기" icon="pi pi-check" (click)="chatClick(chat['id'])"></p-button>
                                </ng-template>
                            </p-card>
                        </div>
                    </ng-template>
                </p-dataView>

            </p-scrollPanel>
        </p-tabPanel>

        <p-tabPanel>
            <ng-template pTemplate='header'>
                게시판
                <mat-icon id='forum'>
                    forum
                </mat-icon>
            </ng-template>
            <p-scrollPanel>
                <!--p-button label='게시판'  (click)='forumClick($event)'>
                </p-button-->
                <p-dataView [value]='a_townForums' [paginator]='true' [rows]='5'>
                    <ng-template let-forum pTemplate='listItem'>
                        <div class="forum-list-item {{forum['type']=='default'?'forum-list-item-main':''}}">
                            <img *ngIf="forum['img_url']" [src]="forum['img_url']" />
                            <div class="{{forum['type']=='default'?'list-detail list-detail-main':'list-detail'}}">
                                <div class='name'>
                                    {{forum['type']=='default'?s_townName:forum.title}}
                                </div>
                                <div class='description'>
                                    <ng-container *ngIf="forum['type']=='default'; else boardOtherDesc">
                                        <span class='main-subtitle'>대표게시판</span>
                                    </ng-container>
                                    <ng-template #boardOtherDesc>
                                        {{forum.description}}
                                    </ng-template>
                                </div>
                            </div>
                            <div class='btn'>
                                <button pButton label="보기" icon="pi pi-check" (click)="forumClick(forum['id'])"></button>
                            </div>
                        </div>
                    </ng-template>
                </p-dataView>
            </p-scrollPanel>
        </p-tabPanel>
    </p-tabView>
</div>
