
.dock-img {
    width:50px;
    height:50px;
    border-radius:15px;
    cursor:pointer;
}

:host ::ng-deep .p-dock-list {
    z-index:1000;
    border-radius:15px;
    background-color:#0001;
    border: 1px solid #0003;
}

:host ::ng-deep .p-dock-item{
    margin: 0px;
    padding:0px;
}

:host ::ng-deep .button {
    margin: 10px;
}

.name {
    font-size: 1.5rem;
    font-weight: 700;
}

:host ::ng-deep .main-room {
    border: 5px solid #000;
}

:host ::ng-deep { 

    .item-wrapper {
        padding:5px;
    }
    .forum-list-item {
        display: flex;
        align-items: center;
        padding: 1rem;
        margin:7px;
        width: 100%;
        background-color:#90cd93;
        max-width:100%;
        position:relative;

        img {
            @media (max-width: 700px) {
                width: 50px;
            }
            width: 150px;
            box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
            margin-right: 2rem;
        }

        .btn {
            background-color:#F00;
            position:absolute;
            right:10px;
            bottom:10px;
        }
        .description {
            flex-grow:0;
            flex-shrink:1;
            min-width:0px;
            margin: 0 0 1rem 0;
            text-overflow:ellipsis;
            white-space:wrap;
            overflow-x:auto;
            max-width:100%;
            display: -webkit-box;
            -webkit-line-clamp: 5; /* number of lines to show */
            line-clamp: 5; 
            -webkit-box-orient: vertical;
        }
    }
    .forum-list-item-main {
        background-color:#f6fbf6;
    }
    .chat-list-item {
        display: flex;
        align-items: center;
        padding: 3px;
        width: 100%;
        border-radius:10px 50px;

        img {
            width: 150px;
            box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
            margin-right: 2rem;
        }
    }
    .list-detail {
        //flex: 1 1 0;
    }
    .p-card-body {
    }

    .main-item {
    }

    .main-subtitle {
        background-color:#ada;
        color:#080;
        padding:2px;
    }

    .sub-item {
        background-color:#fde4a5;
    }

    :focus {
        outline: 0 !important;
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0) !important;
    }

    // tab header common
    .p-tabview .p-tabview-nav .p-tabview-nav-link  {
        margin-left:4px;
        margin-right:4px;
        height:30px;
    }

    // not selected
    .p-tabview .p-tabview-nav li .p-tabview-nav-link {
        color:#444;
        margin-top:3px;
        background-color:#ddd;
        border:0px solid #000;
        border-bottom:2px solid #ccc;
    }

    // selected
    .p-tabview .p-tabview-nav li.p-highlight .p-tabview-nav-link 
    {
        color:#000;
        border-color:#fff;
        background-color:#fff;
        border:1px solid #000;
        border-bottom:2px solid #fff;
        height:40px;

    }

    .tag {
        background-color:#a71;
    }

    .p-tabview-nav {
        border-bottom:1px solid #000;
    }

    .p-fieldset-legend {
        background-color:#fff;
        border: 0 solid #fff;
    }
    .p-fieldset {
        margin-bottom:10px;
    }

}

